@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: local('Roboto Medium'), local('Roboto-Medium'), url(fonts/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
*{
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
}
#pubg-map {
	height: 90%;
	z-index: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: none;
	margin: 0 auto;
	margin-top: 5vh;
	display: block;
	visibility: hidden;
}
#plotcanvas{
	height: 90%;
	z-index: 2;
	top: 0;
	margin: 0 auto;
	display: block;
	margin: 0 auto;
	margin-top: 5vh;
	position: absolute !important;
	left: 0;
	right: 0;
	visibility: hidden;
}
#plotcanvas canvas {
	pointer-events: none;
}
.heatmap-canvas {
	width: 100% !important;
	height: 100% !important;
	position: relative !important;
}
#config-map {
    height: 100%;
	z-index: 1;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	pointer-events: none;
	margin: 0 auto;
	display: block;
}
#config-canvas{
    height: 100%;
	z-index: 2;
	top: 0;
	margin: 0 auto;
	display: block;
	margin: 0 auto;
	position: absolute !important;
	left: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}
#toggle-info {
	right: 2vw;
	position: absolute;
	bottom: 43vh;
	background-color: #3b3b3b;
	color: white;
	padding: 3px 20px;
	font-size: 3vh;
	font-family: 'Roboto', sans-serif;
	border-radius: 2px;
	border: 2px solid black;
}
#toggle-close {
	font-size: 1.4vh;
	height: 2vh;
	width: 2vh;
	position: absolute;
	right: -1vh;
	top: -1vh;
	background-color: #5f5f5f;
	text-align: center;
	font-weight: 100;
	cursor: pointer;
	border: 1px solid #7a7a7a;
}
#toggle-info:after {
	content: '';
	width: 0vh;
	height: 0vh;
	border-right: 2vh solid transparent;
	border-left: 2vh solid transparent;
	border-top: 2vh solid #3b3b3b;
	position: absolute;
	transform-origin: bottom;
	box-sizing: border-box;
	bottom: -1.9vh;
	right: 3vh;
}
#toggle-button {
	width: 10vh;
	height: 10vh;
	right: 2vw;
	position: absolute;
	bottom: 30vh;
	cursor: pointer;
}
.disabled {
	opacity: 0.2;
}
.hidden {
	visibility: visible !important;
}